*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(157, 171, 111, 0.682);
}
.countdown-class{
    padding: 10px;
}
h1{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}
p{
    margin: 20px 10px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 1px;
}
button{
    margin: 10px;
    padding: 0 10px;
    font-size: 20px;
}